#toplevel_page_woocommerce-yotpo-settings-page div.wp-menu-image
{
	background-image: url('../images/logo_small.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 0 0 0;
}